@import "fonts";
@import "font-awesome";
@import "bootstrap-variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-checkbox";
@import "general";
@import "header";
@import "footer";
@import "home";
@import "circuit";
@import "totem";
@import "markdown-content";
.float-none {
  float: none;
}

.panel-heading {
  padding: 15px;
  h4 {
    margin: 0px;
  }
}