.markdown-content {
  padding: 75px 0 50px;
  &.no-padding {
    padding: 25px 0 50px;
  }
  h1 {
    font-weight: 800;
    color: #EA9753;
    font-size: 34pt;
  }
  h2 {
    font-weight: 600;
  }
  p {
    font-size: 14pt;
  }
  a {
    color: #EA9753;
  }
  blockquote {
    border-left: 5px solid #EA9753;
  }
  ul, ol {
    font-size: 14pt;
  }
}
