.modal {
  &.fullscreen {
    .modal-content {
      height: 100%;
      min-height: 100%;
      height: auto;
      border-radius: 0;
    }
  }
  &.infographic {
    .modal-content {
      border: none;
      box-shadow: 0;
      .logo {
        padding: 15px 0 0;
        img {
          height: 55px;
        }
      }
      .image {
        padding: 15px 15px 0;
      }
    }
    .close {
      z-index: 100;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      border: 1px solid #000;
      background-color: #FFF;
      outline: none;
    }
    .modal-body {
      padding: 0;
      .img-responsive {
        margin: 0 auto;
      }
    }
  }
}

#totem {
  .content-header {
    p {
      margin-bottom: 15px;
    }
    .rating {
      margin-bottom: 25px;
      img {
        margin-right: 5px;
      }
    }
  }
  .totem-nav {
    a {
      margin: 25px 5px;
    }
  }
  .tips-container {
    padding: 0 50px 0 0;
    h4 {
      font-size: 24pt;
      text-transform: uppercase;
      color: #FAB93E;
      font-weight: 800;
    }
    ul.tip-list {
      list-style: none;
      padding: 0;
      li {
        font-size: 12pt;
        border-bottom: 1px solid #E5E5E5;
        padding: 15px 0;
      }
    }
    p.time {
      font-size: 10pt;
      color: #c2c2c2;
    }
    ul.tip-hearts {
      padding: 0;
      li {
        border: none;
        display: inline-block;
        background-image: image-url('totem/tip-heart.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
    }
    .easyPaginateNav {
      text-align: center;
      font-size: 12pt;
      a {
        padding:5px;
        color: #d6a13d;
        &.prev {
          float: left
        }
        &.next {
          float: right;
        }
        &.page {
          display: inline-block;
          &.current {
            font-weight:bold;
            text-decoration:underline;
          }
        }
      }
    }
    form {
      border-top: 1px solid #E5E5E5;
      padding: 15px 0;
      margin-top: 10px;
      h5 {
        font-size: 12pt;
        margin: 10px 0;
      }
      .rating-symbol {
        margin-right: 5px;
        cursor: pointer;
      }
      input[type="number"], textarea {
        outline: none;
        border: 7px solid #EBEBEC;
        box-shadow: none;
        font-size: 12pt;
        padding: 10px;
        height: auto;
        resize: vertical;
      }
    }
  }
  .instagram-container {
    .grid-item {
      padding-bottom: 15px;
    }
    h4 {
      font-size: 18pt;
      text-transform: uppercase;
      color: #FAB93E;
      font-weight: 800;
      margin-bottom: 15px;
    }
  }
}
